[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "catalog"]
	path = catalog
	url = https://github.com/nathaneastwood/catalog
[submodule "gghalfnorm"]
	path = gghalfnorm
	url = https://github.com/nathaneastwood/gghalfnorm
[submodule "poorman"]
	path = poorman
	url = https://github.com/nathaneastwood/poorman
